<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ilunos - Next Generation Container Management</title>
    <meta name="description" content="Ilunos - Next Generation Container Management">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/fontawesome.min.css') }}">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/jqvmap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/cs-skin-elastic.css') }}">


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
<!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                    </li>
                    <h3 class="menu-title">Container</h3> <!--/.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ><i class="menu-icon fa fa-glass"></i> Docker</a>
                        <ul class="sub-menu children dropdown-menu">
                    </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                    </li>
                    <h3 class="menu-title">Extras</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Usermanagement</a>
                        <ul class="sub-menu children dropdown-menu">
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Logs</a>
                        <ul class="sub-menu children dropdown-menu">
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

        <div class="col-sm-7"></div>
            <div class="col-sm-5">
                <div class="user-area dropdown float-right">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="user-menu dropdown-menu">

                        </div>
                    </div>
                   </div>
        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>



            {% with messages = get_flashed_messages() %}
            {% endwith %}
            {% block content %}{% endblock %}

        </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->
    <script src="{{ url_for('static', filename='js/lib/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>

    <!--<script src="assets/js/vendor/jquery-2.1.4.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='js/lib/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/widgets.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.vmap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.vmap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.vmap.sampledata.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/popper.min.js') }}"></script>

    <!--<script src="assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>-->
    <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
    </script>

</body>
</html>
